/node_modules
/public/hot
/public/img
/public/fonts
/public/css
/public/js
/public/storage
/public/vendor
/storage/*.key
/.idea
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
